<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a href="/" class="text-blue-500">Back To Home</a>
        </div>
            <h1 class="text-3xl tracking-tighter mb-3">All Users</h1>
            <div class="users flex gap-3 flex-wrap">
                <% if(users.length > 0) {%>
                <% users.forEach(function(user) { %>
                    <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                        <div class="w-full h-72 bg-zinc-700 rounded-lg overflow-hidden"> 
                            <img src="<%= user.imageurl%>" alt="" class="w-full h-full object-cover object-top">
                        </div>
                        <h3 class="text-xl tracking-tighter mt-3"><%= user.name %></h3>
                        <h5 class="text-zinc-500"><%= user.email %></h5>
                        <div class="flex gap-3 mt-10">
                            <a class="text-zinc-200 " href="/edit/<%= user._id%>">Edit User</a>
                            <a class="text-red-500 " href="/delete/<%= user._id%>">Delete User</a>
                        </div>
                    </div>
                    <% })%>
                    <% } else {%>
                        <h3  class="text-zinc-500">No Users Yet</h3>
                    <% } %>
            </div>
    </div>
</body>
</html>